html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Garamond, serif;
    background-color: #0B4F6E;
    overflow-x: hidden;
    opacity: 0;
    animation: fadeIn ease 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*header*/
body.homepage header {
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header {
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

header .logo a {
    display: inline-block;
}

header .logo-image {
    height: 100%;
    width: auto;
    max-height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

nav ul li {
    font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*footer*/

.footer {
  background-color: #0B4F6E; 
  position: relative;  
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  z-index: 3;
}

/*home page*/
.homesec{
    position: relative; 
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.homesec:nth-of-type(1){
    background-size: cover;
    background: url('https://raw.githubusercontent.com/lachiecroomfie/croomfierecords-lachie/main/pictures/tdw-banner.jpg') no-repeat center center;
    background-position: center;
}

.homesec:nth-of-type(2){
    background-size: cover;
    background: url('https://raw.githubusercontent.com/lachiecroomfie/croomfierecords-lachie/main/pictures/dontshow-fullscreen.jpg') no-repeat center center;
    background-position: center;
}

.homesec > * {
    position: relative;
    z-index: 2;
}

.homesec:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.3);
}

.home-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    transition: background-color 0.3s;
    z-index: 15;
}

.home-button:hover {
    background-color: #0B4F6E;
    color: white;
}

.home-button:active {
    background-color: #0B4F6E;
    color: white;
}

@media screen and (max-width: 768px) {
  .homesec {
    justify-content: center; 
    text-align: center;
  }
}

/*album pages*/

.product-details {
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.product-details h2 {
    font-size: 24px;
    color: whitesmoke;
}

.product-details p {
    font-size: 16px;
    color: whitesmoke;
}

.dl-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.dl:hover {
    background-color: black;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*image carousel*/

.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
}

.image-carousel {
    height: auto;
    max-width: 600px;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 8px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    flex: 0 0 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*discography page*/

.discography-title {
  text-align: center; 
  margin-top: 2em; 
}

.discography-title h1 {
  font-size: 36px; 
  color: white; 
  font-weight: bold;
}

.discography {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1em;  
  margin-top: 2em;
  padding: 0 1em;
}

.albums {
  text-align: center;
  margin-bottom: 0.75em;
  width: 100%;
  max-width: 250px; 
}

.album-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.album-link:hover {
    transform: translateY(-5px);
}

.album-link img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 8px;
}

.album-link p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.videography {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1em;  
  margin-top: 2em;
  padding: 0 1em;
}

.video-gr {
  text-align: center;
  margin-bottom: 0.75em;
  width: 100%;
  max-width: 400px; 
}

.video {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.video:hover {
    transform: translateY(-5px);
}

.video img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
}

.video p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

/*updates page*/
.upcontainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.article h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: white;
    box-align: center;
    text-align: center;
}

.article .meta {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 15px;
    box-align: center;
    text-align: center;
}

.article p {
    color: white;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;
}

.article img.article-image {
    width: 100%;
    height: auto;
    margin: 20px 0;
    justify-content: center;
}

.extra-content {
    display: none;
    margin-top: 20px;
}

.extra-content.show {
    display: block;
}

.read-more-btn {
    background-color: black;
    font-family: Garamond, serif;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: fit-content; 
}

.read-more-btn:hover {
    background-color: black;
}

/* responsive layout */
@media screen and (max-width: 768px) {
  .discography {
    gap: 1.5em;
    justify-content: center; 
  }

  .albums {
    width: 100%; 
    max-width: 200px;  
  }
    .videography {
    gap: 1.5em;
    justify-content: center; 
    }
    
    .video-gr {
    width: 100%;
    height: 100%
    max-width: 400px; 
    }
    
    .upcontainer {
    width: 90%;
    margin: 10px auto;
    }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .discography {
    justify-content: center;
    gap: 1.5em;  
  }

  .albums {
    width: 100%;
    max-width: 250px; 
  }
      .videography {
    gap: 1.5em;
    justify-content: center; 
    }
    
    .video-gr {
    width: 100%;
    height: 100%;
    max-width: 400px; 
    }
}
