html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
    background-color: #0B4F6E;
}

/*header*/
body.homepage header {
    color: white;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header {
    color: white;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px;
}

header .logo a {
    display: inline-block;
}

header .logo-image {
    height: 100%;
    width: auto;
    max-height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

nav ul li {
    font-size: 16px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*footer*/

.footer {
  background-color: #0B4F6E; 
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-size: 14px;
    z-index: 1000;
}

/*home page*/
.overlay-container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    width: 100%;
    height: 100vh; /*was 100%*/
    position: relative;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    visibility: hidden;  
}

.overlay.active {
    visibility: visible;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    color: white;
    background-size: cover;
    background: url('https://raw.githubusercontent.com/lachiecroomfie/croomfierecords-lachie/main/pictures/dontshow-fullscreen.jpg') no-repeat center center fixed;
    background-position: center;
    width: 100%;
    height: 100%;
}

.home-slide-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    color: white;
    background-size: cover;
    background-position: center;
    background: url('https://raw.githubusercontent.com/lachiecroomfie/croomfierecords-lachie/main/pictures/hyperola-banner.jpg') no-repeat center center fixed;
    width: 100%;
    height: 100%;
}

.home-button {
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
    transition: background-color 0.3s;
    z-index: 2;
}

.home-button:hover {
    background-color: aquamarine;
}

.home-button:active {
    background-color: aquamarine;
}

/*album pages*/

.product-details {
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    text-align: center;
}

.product-details h2 {
    font-size: 24px;
    color: whitesmoke;
}

.product-details p {
    font-size: 16px;
    color: whitesmoke;
}

.dl-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.dl:hover {
    background-color: black;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/*image carousel*/

.carousel {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
}

.image-carousel {
    height: auto;
    max-width: 600px;
    position: relative;
}

.carousel img {
    width: 100%;
    border-radius: 8px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    flex: 0 0 100%;
    transition: opacity 0.5s ease-in-out;
}

.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/*discography page*/

.discography-title {
  text-align: center; 
  margin-top: 2em; 
}

.discography-title h1 {
  font-size: 36px; 
  color: white; 
  font-weight: bold;
}

.discography {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1em;  
  margin-top: 2em;
  padding: 0 1em;
}

.albums {
  text-align: center;
  margin-bottom: 0.75em;
  width: 100%;
  max-width: 250px; 
}

.album-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.album-link:hover {
    transform: translateY(-5px);
}

.album-link img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 8px;
}

.album-link p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.videography {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 1em;  
  margin-top: 2em;
  padding: 0 1em;
}

.video-gr {
  text-align: center;
  margin-bottom: 0.75em;
  width: 100%;
  max-width: 500px; 
}

.video {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  transition: box-shadow 0.3s, transform 0.3s ease-in-out;
}

.video:hover {
    transform: translateY(-5px);
}

.video img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
}

.video p {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}


/* responsive layout */
@media screen and (max-width: 768px) {
  .discography {
    gap: 1.5em;
    justify-content: center; 
  }

  .albums {
    width: 100%; 
    max-width: 200px;  
  }
    .videography {
    gap: 1.5em;
    justify-content: center; 
    }
    
    .video-gr {
    width: 100%;
    height: 100%
    max-width: 400px; 
    }
}

/* Desktops */
@media screen and (min-width: 1024px) {
  .discography {
    justify-content: center;
    gap: 1.5em;  
  }

  .albums {
    width: 100%;
    max-width: 250px; 
  }
      .videography {
    gap: 1.5em;
    justify-content: center; 
    }
    
    .video-gr {
    width: 100%;
    height: 100%;
    max-width: 500px; 
    }
}
